<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>单篇传播力分析</title>

    <meta name="keywords" content="iNews,智慧新闻,聚合平台,内容聚合,自然语言处理,新闻舆情,采编助手,新闻分析 ,News,intelligent news" />
	<meta name="description" content="iNews智慧新闻软件是北京荣之联科技股份有限公司自主研发产品，是面向政府、媒体行业推出的智慧化新闻生产服务工具。iNews采用领先的大数据和自然语言处理技术，帮助用户打造优质内容聚合平台，提高内容加工效率和内容质量，促进媒体融合。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <link rel="shortcut icon" href="../../../static/assets/images/favicon.ico" type="image/x-icon" th:href="@{/assets/images/favicon.ico}"/>
	<!-- 引入公用的CSS -->
    <object style="display:none;" th:include="frontEnd/common/styles :: styles"></object>
    
    <!-- DataTables Css -->
    <link rel="stylesheet" type="text/css" href="../../../static/assets/css/dataTables.bootstrap.css" th:href="@{/assets/css/dataTables.bootstrap.css}"/>
	
	<!-- Common CSS -->
    <link rel="stylesheet"  href="../../../static/propagation/frontEnd/css/common.css" th:href="@{/propagation/frontEnd/css/common.css}"/>
    <!-- Self CSS -->
    <link rel="stylesheet"  href="../../../static/propagation/frontEnd/css/articleInfluence.css" th:href="@{/propagation/frontEnd/css/articleInfluence.css}"/>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            新闻传播监测系统
                        </small>
                    </a>
                </div>
                <!-- /Navbar Barnd -->

                <!-- Account Area and Settings -->
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">

                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <div class="avatar" title="View your public profile">
                                        <i class="fa fa-user fa-lg"></i>
                                    </div>
                                    <section>
                                        <h2><span class="profile"><span>admin</span></span></h2>
                                    </section>
                                </a>
                            </li>
                            <li>
                            	<a class="login-area"  th:href="@{/logout}">
                                    <div class="avatar" title="View your public profile">
                                        <i class="fa fa-sign-out fa-lg"></i>
                                    </div>
                                    <section>
                                        <h2><span class="profile"><span>退出</span></span></h2>
                                    </section>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /Account Area and Settings -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Content -->
            <div class="page-content" style="margin-left:0px;">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-home"></i>
                            <a href="#" th:href="@{/gotoIndex}">综合传播力分析</a>
                        </li>
                        <li >
                            单篇传播力分析
                        </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Body -->
                <div class="page-body">
                	<div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="main-article-box">
                                        <h4>24岁小伙患尿毒症 邻里捐66万元助他渡难关</h4>
                                        <p>
                                            <strong>发生时间：<span>2017-05-16 10:16</span></strong>
                                            <strong>作者：<span>王小兵</span></strong>
                                            <strong>单篇影响力指数：<span>2315</span></strong>
                                            <strong>本单位历史排行：<span>15</span></strong>
                                            <strong>评论数：<span>23456</span></strong>
                                            <strong>点击数：<span>6878</span></strong>
                                            <strong>参与数：<span>2348</span></strong>
                                        </p>
                                        <div class="main-article-content">
                                            <div class="WordSection1" style="layout-grid: 15.6pt;">
<p><span style="text-indent: 2em;">黝黑的脸庞、忧伤的目光、瘦弱的身体。24岁，原本正是风华正茂的年纪，却被病痛折磨的没有一点青春气息。5月15日,走进吴江区盛泽镇黄家溪上升自然村杨晓冬家里时,只见杨晓冬躺在自己做的无菌房里做腹透。他无力地说，为了省钱，他从上海一家医院出院回家，自己做腹透等待肾源。</span></p>
<p>杨晓冬的肾病已经有8年之久。2009年，上初中三年级时，16岁的他放学回家骑自行车时摔伤，检查时就发现肾脏有隐血，也是从那时起杨晓冬的天空一直是灰色的，他被病痛折磨的几乎喘不过气来，妈妈熊水英带他四处求医，去过苏州、南京、广州等大医院，花光了家里所有的积蓄，但病情还是一步步恶化，生命正被一点一点地吞噬。</p>
<p>今年4月初，杨晓冬病情突然加重，出现了恶心呕吐、鼻子流血、舌头起血泡、全身发麻等症状，随后被紧急送往上海一家医院抢救，结果被确诊为尿毒症，双肾出现衰竭，唯一的治疗方案是换肾，如果不换肾，随时有生命危险。</p>
<p>“我儿子才24岁，还这么年轻，我们不能失去他。” 熊水英夫妇曾哀求过医生，用自己的肾去换儿子的生命，但医生却不建议他们换，希望他们等待肾源，然而，换肾的各种治疗费用却要70多万元，让这个原本就“风雨飘摇”的家望而却步。</p>
<p>熊水英夫妇靠打零工维持生活，杨晓冬患病8年来，看病花光了家里所有的积蓄，但夫妇俩都默默地自己承受着，不想麻烦亲戚、村里，以及街坊邻居，但这次实在是走投无路了，才向村里写了救助信。</p>
<p>“病情这么严重了，你们怎么不早说呀！” 4月28日中午，村党委书记陈志明看了救助信后心急如焚。当即以个人名义给杨晓冬家庭捐了3万元，其他村干部当即响应纷纷给杨晓冬捐款，同时黄家溪商会启动了帮困基金，给杨晓冬捐了20万元。</p>
<p>紧接着，陈志明与村领导班子商量后，又号召广大村民行动起来，共同帮助本村这个年轻的“邻家小伙”。当陈志明把杨晓冬求助信发到村微信群里后，村民们积极响应，20、50、100元、200元、1000元甚至几万元，村民通过微信转账或现金的方式，将爱心款捐到村里，一股爱的暖流涌向了这个不幸的家里，仅24小时便筹集到爱心善款50多万元。</p>
<p>“五一”当天，黄家溪村工作人员和志愿者又放弃休息时间，在村里的广场上组织了为挽救杨晓冬生命的爱心义卖活动。经营一家养鸡场的村民顾发明拿出100盒鸡蛋和20多只鸡进行义卖，尽自己的一点绵薄之力。黄家溪村委副书记吴智文介绍，在义卖时，志愿者无不为大家的爱心感动着，有个村民花1000元只象征性地拿了两盒鸡蛋；一名收废品的路过也捐了100元钱；附近村的村民得知情况后，也纷纷前来捐款和购买爱义卖品。最终，义卖活动筹得爱心善款23930元。</p>
<p>黄家溪村财务陈菲菲负责记录每位爱心人士的捐助明细。记者注意到，这本杨晓冬换肾捐助明细表足足记了33页，每页都密密麻麻的记录了每一位村民爱心，本村的、外村的都有，很多连名字也没留，只写了“爱心人士”。统计显示，村里共收到爱心善款和义卖所得664507元。陈菲菲说，这几天连她都无时无刻地感受到一股股暖流。</p>
<p>“你现在就是照顾好孩子和自己，经济方面现在你们不要太操心。”村干部经常给熊水英和杨晓冬发短信嘘寒问暖，并鼓励杨晓冬早日战胜病魔。</p>
<p>“当村主任用微信把一张张捐款名单发给我时，我们全家都感动的落泪。” 熊水英感激地说，村干部和乡邻让他们感受到了人间大爱和温暖，也让她看到了挽救儿子生命的希望，也希望儿子早点好起来，回报大家的爱心。有了父老乡亲这笔爱心巨款，杨晓冬也表示要好好活下去，好好回报乡亲的恩情。（苏报全媒体、姑苏晚报<span>记者 王小兵</span>）</p>
<p>&nbsp;</p>
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget">
                                <div class="widget-header bordered-bottom bordered-sky">
                                    <span class="widget-caption">传播链</span>
                                </div>
                                <div class="widget-body">
                                    <div id="chain-transmission-echarts" style="width:100%;height:300px"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget">
                                <div class="widget-header bordered-bottom bordered-sky">
                                    <span class="widget-caption">时影响力时间经度</span>
                                </div>
                                <div class="widget-body">
                                    <div id="time-influence-echarts" style="width:100%;height:300px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>

    </div>
	
	<!-- 引入公用的JS -->
    <object style="display:none;" th:include="frontEnd/common/scripts :: scripts"></object>

    <!-- Charts3 -->
    <script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.min.js"></script>

    <!-- Charts2 -->
    <script type="text/javascript" src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    
    <!-- easypiecharts -->
    <script src="../../../static/assets/js/easypiecharts/jquery.easypiechart.js" th:src="@{/assets/js/easypiecharts/jquery.easypiechart.js}"></script>
    <script src="../../../static/assets/js/easypiecharts/easypiechart-init.js" th:src="@{/assets/js/easypiecharts/jquery.easypiechart.js}"></script>
    
    <!-- Self JS -->
    <script src="../../../static/propagation/frontEnd/js/static/articleInfluence.js" th:src="@{/propagation/frontEnd/js/static/articleInfluence.js}"></script>
</body>
</html>
